.advantages {
  h2 {
    text-align: center;
  }

  &-circle {
    @include distribute-on-circle(5, 17em, 2em);
    margin: 5em auto 0;
    border: 2px solid red;

    &__element {
      width: 2em;
      border: 2px solid sandybrown;
      background-color: blue;
      color: white;
      border-radius: 50%;
      img {
        display: block;
        width: 100%;
      }
    }
    &__text {
      width: 14em;
      color: black;
      transform: translate(53px, -24px);
    }
  }

  &__text {
    left: 12%;
    top: 41%;
    width: 15em;
  }
}
