.advantages {
  &-circle {
    @include distribute-on-circle(5, 20em, 2em);
    margin: 5em auto 0;
    border: 2px solid #2f69ff;

    &__element {
      width: 2em;
      border: 2px solid #2f69ff;
      background-color: #2f69ff;
      color: white;
      border-radius: 50%;
      img {
        display: block;
        width: 100%;
      }
    }

    &__text {
      width: 14em;
      color: black;
      transform: translate(53px, -24px);
      cursor: pointer;
    }

    &__number {
      text-align: center;
      margin-top: 3px;
    }
  }

  &__slide {
    left: 12%;
    top: 41%;
    width: 15em;
    text-align: center;
    display: none;

    &--active {
      display: block;
    }
  }
}
