.consult {



  &__container {
    width: fluid(385, 750);



    @media (max-width: $tableWidth) {
      width: rem(560);
    }
  }

  &__input {
    width: 100%;
    border-radius: 80px 80px 80px 80px;
    padding: 25px 30px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: fluid(15, 30);
    line-height: rem(36);
    color: $c-black;



    &::placeholder {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: fluid(15, 30);
      line-height: fluid(18, 36);
      color: $c-black;
    }


    @media (max-width: $tableWidth) {
      font-size: rem(25);
      line-height: rem(30);

      &::placeholder {
        font-size: rem(25);
        line-height: rem(30);
      }

    }

  }

  &__button {
    width: 100%;
    border-radius: 80px 80px 80px 80px;
    padding: 16px 90px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: fluid(15, 30);
    line-height: fluid(18, 37);
    text-align: center;
    text-transform: uppercase;
    background-color: $c-button;
    color: $c-white;

  }
}