.integration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../assets/images/integration-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 22%;

  @include respond-below(1200px) {
    background-image: none;
  }



  &__title {
    @include integrationTitle ($c-black);
    text-align: center;
    padding: 25px 0;

    &::first-line {
      color: #2F69FF;
    }
  }

  &__descr {
    @include integrationDescr();
    padding: 0 40px 50px 40px;
    // text-align: center;
  }

  &__circle-svg {
    width: 570px;
    height: 100%;

    @include respond-above(1200px) {
      display: none;
    }

    @include respond-below(720px) {
      width: 320px;
    }

  }

  &__circleDesctop-svg {
    width: 900px;
    height: 100%;

    @include respond-below(1200px) {
      display: none;
    }

    @include respond-above(1200px) {
      width: 465px;
    }

    @include respond-above(1920px) {
      width: 675px;
    }

    @include respond-above(2560px) {
      width: 900px;
    }

  }

  &__circle {}

  &__circle-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    // left: -200px;

    @include respond-above(2560px) {
      left: -135px;
    }

    @include respond-above(1200px) {
      flex-direction: row;
    }
  }


  &__button {
    font-family: 'HelveticaNeueCyr-Bold';
    border: none;
    @include text4($c-white);
    padding: 0.7em 3em;
    background-color: $c-accentOrange;
    border-radius: 70px;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 0em 0 4em 48em;

    @include respond-between(320px, 720px) {
      margin: 0em 0em 3em 0em;
    }

    @include respond-between(720px, 1200px) {
      margin: 4em 0em 4em 0em;
    }
  }
}