.monitoring {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(796);
    height: rem(815);

    background-image: url('../assets/images/control-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__form {
    display: flex;
    align-items: center;
  }
}