.umbrellaMonitoring {
  display: flex;
  flex-direction: column;
  background-color: $c-light;
  padding: 0 rem(45);
  gap: rem(27);

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__title {
    font-family: 'HelveticaNeueCyr-Bold';
    text-transform: uppercase;
    @include headingText($c-black, 900);
    @include respond-above(1280px) {
      max-width: 60%;
    }

    &--blue {
      color: $c-blue;
    }
  }

  &__sub-title {
    @include text3();
    @include respond-above(768px) {
      max-width: 70%;
    }

    @include respond-above(1280px) {
      max-width: 33%;
    }
  }

  &__more {
    font-family: 'HelveticaNeueCyr-Bold';
    border: none;
    padding: rem(8) rem(18);
    background-color: $c-accentOrange;
    border-radius: 70px;
    text-transform: uppercase;
    color: $c-white;
    cursor: pointer;
    align-self: center;

    @include respond-above(1280px) {
      align-self: start;
    }
  }
}
