.whyMonq {
  @include container;
  background-color: $c-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  &__header {
    color: $c-white;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  &__title {
    font-family: 'HelveticaNeueCyr-Black';
    text-transform: uppercase;
    @include text10($c-white);
  }

  &__subtitle {
    max-width: 26em;

    @include respond-above(1280px) {
      max-width: 60em;
    }
  }

  &__content-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: $c-black;
    margin-left: 10em;

    @include respond-below(600px) {
      margin: 0;
      align-items: center;
    }
  }

  &__content-item {
    background-color: $c-white;
    border-radius: 40px;
    padding: 2em;
    position: relative;
    z-index: 1;
    @include text9();

    @include respond-below(600px) {
      max-width: 13em;
    }
    @include respond-above(1280px) {
      width: 19.3em;
      height: 6.8em;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }

    & span {
      content: '';
      width: 5em;
      height: 0.2em;
      position: absolute;
      background-color: $c-white;
      top: 50%;
      left: -5em;
      z-index: -1;
      transform: translateY(-50%);

      @include respond-below(600px) {
        left: -2em;
        width: 2em;
      }

      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: $c-white;
        width: 1.4em;
        height: 1.4em;
        transform: translateY(-50%);
      }
    }

    &:nth-child(odd) {
      & span {
        width: 15vw;
        left: -3em;

        &::before {
          width: 1.8em;
          height: 1.8em;
        }

        @include respond-below(600px) {
          left: -2em;
          width: 2em;
        }
      }
    }
  }

  &__item-text {
    max-width: 16em;
  }

  &__mobile {
    display: flex;

    @include respond-below(600px) {
      justify-content: center;
    }

    @include respond-above(1280px) {
      display: none;
    }

    & img {
      margin: -9%;
      height: 60em;

      @include respond-below(600px) {
        display: none;
      }
    }
  }

  &__desktop {
    display: flex;
    gap: 3em;
    justify-content: center;
    @include respond-below(1279px) {
      display: none;
    }

    & img {
      height: 18em;

      @include respond-above(1920px) {
        height: 24.6em;
      }

      @include respond-above(2560px) {
        height: 30.3em;
      }
    }
  }

  &__desktop-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    &--left {
      .whyMonq__content-item {
        position: relative;

        & span {
          rotate: 180deg;
          left: 16.6em;
        }

        &:nth-child(odd) {
          transform: translateX(-3em);
          & span {
            left: 13em;
            width: 13em;
          }
        }
      }
    }

    &--right {
      .whyMonq__content-item {
        position: relative;

        & span {
          left: -2.2em;
        }

        &:nth-child(odd) {
          transform: translateX(3em);

          & span {
            left: -6.6em;
          }
        }
      }
    }
  }

  &__more {
    font-family: 'HelveticaNeueCyr-Bold';
    border: none;
    @include text4($c-white);
    padding: 0.7em 5em;
    background-color: $c-accentOrange;
    border-radius: 70px;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 4em 0;

    @include respond-above(1280px) {
      align-self: center;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
  }

  &__footer-text {
    text-transform: uppercase;
    font-family: 'HelveticaNeueCyr-Black';
    text-align: center;
    padding-bottom: 1em;
    @include text11($c-white);
  }

  &__logo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  &__logo-item {
    height: 3em;
    width: 7em;
    background-color: inherit;

    &:first-child {
      margin: -1.4em;
      height: 5em;
    }

    @include respond-above(2560px) {
      width: 12em;
    }
  }
}
