<ul class="advantages-circle">
  <li class="advantages-circle__element">
    <p>1</p>
    <p class="advantages-circle__text">тут какой текст</p>
  </li>
  <li class="advantages-circle__element">
    <p>2</p>
    <p class="advantages-circle__text">тут какой текст</p>
  </li>
  <li class="advantages-circle__element">
    <p>3</p>
    <p class="advantages-circle__text">тут какой текст</p>
  </li>
  <li class="advantages-circle__element">
    <p>4</p>
    <p class="advantages-circle__text">тут какой текст</p>
  </li>
  <li class="advantages-circle__element">
    <p>5</p>
    <p class="advantages-circle__text">тут какой текст</p>
  </li>
  <li class="advantages__text">
    Определим оптимальную архитектуру системы под ваши задачи и профиль нагрузки
  </li>
</ul>
