<nav class="header__nav">
  <a class="header__phone" href="tel:+74959676657">+7 (495) 967 66 57</a>
  <div class="header__inner">
    <img class="header__logo" src="../assets/icons/lanit_logo.svg" alt="" />
    <div class="header__menu-burger" id="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <ul class="header__menu">
    <li class="header__menu-item"><a href="#">Ваши риски ИТ</a></li>
    <li class="header__menu-item"><a href="#">Почему MONQ</a></li>
    <li class="header__menu-item"><a href="#">Как правильно внедрить систему</a></li>
    <li class="header__menu-item"><a href="#">Результаты внедрения MONQ</a></li>
    <li class="header__menu-item"><a href="#">Оставить заявку</a></li>
  </ul>
</nav>
