<section class="integration">
  <h1 class="integration__title">
    Максимальная отдача <br />
    при профессиональном внедрении системы
  </h1>
  <p class="integration__descr">
    Компания ЛАНИТ-Интеграция – эксперт в реализации высокотехнологичных
    проектов. Мы внедряем эффективные ИТ-решения с учётом приоритетов и ресурсов
    наших клиентов.
  </p>
  <svg
    width="618"
    height="1105"
    viewBox="0 0 618 1105"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="integration__svg"
  >
    <circle
      cx="320"
      cy="332"
      r="288"
      fill="#2F69FF"
      stroke="#2F69FF"
      stroke-width="6"
    />
    <path
      d="M2 248C18.1667 172.667 99.3 18 294.5 2"
      stroke="#2F69FF"
      stroke-width="4"
    />
    <rect
      x="324"
      y="227"
      width="397"
      height="8.99998"
      rx="4.49999"
      transform="rotate(90 324 227)"
      fill="white"
    />
    <rect
      x="618"
      y="370"
      width="616"
      height="8.99995"
      rx="4.49997"
      transform="rotate(-180 618 370)"
      fill="white"
    />
    <circle
      cx="216.032"
      cy="908.968"
      r="194.032"
      stroke="#2F69FF"
      stroke-width="4"
    />
    <circle
      class="integration__svg-number"
      cx="272.769"
      cy="722.887"
      r="13.8866"
      fill="#2F69FF"
    />
    <circle
      class="integration__svg-number"
      cx="355.296"
      cy="773.672"
      r="13.8866"
      fill="#2F69FF"
    />
    <circle
      class="integration__svg-number"
      cx="403.7"
      cy="955.389"
      r="13.8866"
      fill="#2F69FF"
    />
    <circle
      class="integration__svg-number"
      cx="402.113"
      cy="858.579"
      r="13.8866"
      fill="#2F69FF"
    />
    <circle
      class="integration__svg-number"
      cx="358.47"
      cy="1041.09"
      r="13.8866"
      fill="#2F69FF"
    />
    <path
      d="M274.737 715.555H272.397C271.997 717.595 270.637 718.355 268.677 718.355H268.317V720.455H271.717V729.555H274.737V715.555Z"
      fill="white"
    />
    <path
      d="M359.904 777.087H353.284C354.084 775.887 355.724 774.947 356.924 774.127C358.584 772.987 359.824 771.987 359.824 769.727C359.824 767.187 357.884 765.447 355.064 765.447C351.944 765.447 349.964 767.467 349.964 770.647V770.947H352.684C352.764 768.887 353.484 767.907 354.964 767.907C356.164 767.907 356.964 768.707 356.964 769.927C356.964 771.647 355.184 772.547 353.944 773.387C351.424 775.087 349.704 776.307 349.644 779.547H359.904V777.087Z"
      fill="white"
    />
    <path
      d="M397.595 855.827H400.295C400.335 854.267 401.095 853.427 402.415 853.427C403.575 853.427 404.355 854.127 404.355 855.187C404.355 856.367 403.555 856.947 401.915 856.947C401.735 856.947 401.655 856.947 401.435 856.927V858.927C401.715 858.907 401.835 858.907 402.135 858.907C403.475 858.907 404.675 859.427 404.675 860.987C404.675 862.247 403.755 863.107 402.355 863.107C400.835 863.107 399.995 862.147 399.975 860.427H397.235V860.627C397.235 863.627 399.235 865.507 402.415 865.507C405.475 865.507 407.615 863.627 407.615 860.967C407.615 859.327 406.695 858.127 405.135 857.747C406.335 857.427 407.095 856.347 407.095 854.987C407.095 852.707 405.195 851.147 402.435 851.147C399.475 851.147 397.695 852.947 397.595 855.827Z"
      fill="white"
    />
    <path
      d="M408.529 956.477H406.649V948.017H404.089L398.009 956.217V958.837H404.009V962.057H406.649V958.837H408.529V956.477ZM404.009 956.477H400.289L404.009 951.277V956.477Z"
      fill="white"
    />
    <path
      d="M362.359 1033.88H354.539L353.179 1041.58H355.719C356.259 1040.76 356.879 1040.42 357.819 1040.42C359.299 1040.42 360.259 1041.42 360.259 1043C360.259 1044.58 359.259 1045.68 357.839 1045.68C356.579 1045.68 355.659 1044.84 355.539 1043.62H352.739C352.899 1046.48 354.999 1047.98 357.839 1047.98C360.919 1047.98 363.119 1045.88 363.119 1042.94C363.119 1040.18 361.339 1038.36 358.659 1038.36C357.539 1038.36 356.759 1038.66 356.079 1039.34L356.619 1036.3H362.359V1033.88Z"
      fill="white"
    />
    <path d="M210 714.5V583" stroke="#2F69FF" stroke-width="4" />
  </svg>
  <button class="integration__button">Получить консультацию</button>
</section>
