<section class="integration">
  <h1 class="integration__title">
    Максимальная отдача <br />
    при профессиональном внедрении системы
  </h1>
  <p class="integration__descr">
    Компания ЛАНИТ-Интеграция – эксперт в реализации высокотехнологичных
    проектов. <br />
    Мы внедряем эффективные ИТ-решения с учётом приоритетов и ресурсов наших
    клиентов.
  </p>
  <div class="integration__circle">
    <h2 class="integration__circle-title">
      НАША <br />
      ЭКСПЕРТИЗА
    </h2>
    <ul class="integration__circle-list">
      <li class="integration__circle-item">
        Многолетний опыт внедрения решений для мониторинга ИТ различных классов
      </li>
      <li class="integration__circle-item">
        Собственные компетенции по смежным системам (сети, СХД и т.д.)
      </li>
      <li class="integration__circle-item">Собственная тестовая лаборатория</li>
      <li class="integration__circle-item">
        Специалисты, сертифицированные по ключевым технологиям
      </li>
    </ul>
  </div>

  <button class="integration__button">Получить консультацию</button>
</section>
