<section class="result">
  <h1 class="result__title">Результаты <br> наших клиентов</h1>
  <div class="result__list">
    <div class="result__item">
      <hr class="result__item-line">
      <h2 class="result__item-title">
        на <span class="result__item-perсent">84%</span> <br> увеличена удовлетворённость пользователей
      </h2>
      <p class="result__item-descr">
        Сокращение числа жалоб от пользователей за счёт проактивного реагирования и проверок основных бизнес-функций в реальном времени
      </p>
    </div>
    <div class="result__item">
      <hr class="result__item-line">
      <h2 class="result__item-title">
        на <span class="result__item-perсent">50%</span> <br> сокращен downtime ИТ-сервисов
      </h2>
      <p class="result__item-descr">
        Восстанавлиние работы систем за счёт зонтичного мониторинга и автоматических действий
      </p>
    </div>
    <div class="result__item">
      <hr class="result__item-line">
      <h2 class="result__item-title">
        на <span class="result__item-perсent">70%</span> <br> сокращено время реакции на события
      </h2>
      <p class="result__item-descr">
        Сокращение среднего времени решения инцидентов (MTTR) за счёт быстрого поиска первопричины и правильного распределения алертов по ИТ-командам
      </p>
    </div>
  </div>
  <button class="result__button">
    Получить скидку 30% на пилотный проект до 20 декабря
  </button>
</section>