<section class="risks">
  <h2><span>Риски ИТ,</span> с которыми вы сталкиваетесь каждый день</h2>
  <div>
    <button>Директор по развитию цифрового бизнеса</button>
    <div>
      <div>
        <img src="" alt="" />
        <p>Упущенная прибыль из-за простоя сервисов</p>
      </div>
      <div>
        <img src="" alt="" />
        <p>Снижение лояльности клиентов</p>
      </div>
      <div>
        <img src="" alt="" />
        <p>Низкая эффективность инвестиций в ИТ</p>
      </div>
    </div>
  </div>
  <div>
    <button>Руководитель ИТ</button>
    <div>
      <div>
        <img src="" alt="" />
        <p>Регулярные срывы SLA перед бизнесом</p>
      </div>
      <div>
        <img src="" alt="" />
        <p>Выгорание ИТ-команды из-за перекладывания ответственности за инциденты</p>
      </div>
      <div>
        <img src="" alt="" />
        <p>Низкая эффективность инвестиций в ИТ</p>
      </div>
    </div>
  </div>
  <div>
    <button>ИТ-специалист</button>
    <div>
      <div>
        <img src="" alt="" />
        <p>Сотни алертов в час, рутинные задачи, ручной поиск причины сбоя</p>
      </div>
      <div>
        <img src="" alt="" />
        <p>Дублирование и разрозненность данных об ИТ</p>
      </div>
      <div>
        <img src="" alt="" />
        <p>Неудобство существующих решений</p>
      </div>
    </div>
  </div>

  <button>Начать управлять своими ИТ-рисками</button>
</section>
