<section class="umbrellaMonitoring">
  <div class="umbrellaMonitoring__text">
    <p class="umbrellaMonitoring__title">
      управляйте качеством ИТ&nbsp;-&nbsp;СЕРВИСОВ С&nbsp;ПОМОЩЬЮ
      <span class="umbrellaMonitoring__title--blue">ЗОНТИЧНОГО МОНИТОРИНГА</span>
    </p>
    <p class="umbrellaMonitoring__sub-title">
      Комплексное технологическое решение для всех, кто несёт ответственность за&nbsp;ИТ
    </p>
  </div>
  <button class="umbrellaMonitoring__more">Узнать больше</button>
</section>
