<section class="umbrellaMonitoring">
  <div class="umbrellaMonitoring__text">
    <p class="umbrellaMonitoring__title">
      управляйте качеством ИТ&nbsp;-&nbsp;СЕРВИСОВ С&nbsp;ПОМОЩЬЮ
      <span class="umbrellaMonitoring__title--blue">ЗОНТИЧНОГО МОНИТОРИНГА</span>
    </p>
    <p class="umbrellaMonitoring__sub-title">
      Комплексное технологическое решение для всех, кто несёт ответственность за&nbsp;ИТ
    </p>
  </div>
  <button class="umbrellaMonitoring__more">Узнать больше</button>
  <ul class="umbrellaMonitoring__advantages-list">
    <li class="umbrellaMonitoring__advantages-item">
      Удовлетворённость внутренних и внешних пользователей
      <hr class="umbrellaMonitoring__advantages-divider" />
    </li>
    <li class="umbrellaMonitoring__advantages-item">
      Оптимизация затрат на обслуживание ИТ-инфраструктуры
      <hr class="umbrellaMonitoring__advantages-divider" />
    </li>
    <li class="umbrellaMonitoring__advantages-item">
      Снижение рисков за счёт использования полностью отечественного продукта
      <hr class="umbrellaMonitoring__advantages-divider" />
    </li>
    <li class="umbrellaMonitoring__advantages-item">
      Первые результаты внедрения уже через 4 недели
      <hr class="umbrellaMonitoring__advantages-divider" />
    </li>
  </ul>
  <div class="umbrellaMonitoring__logo-monq">
    <p>при поддержке</p>
    <img src="../assets/icons/logo-monq.svg" alt="логотип monq" />
  </div>
</section>
